<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [5]:
data.describe(include=['object', 'bool'])

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal
count,271116,271116,271116,271116,271116,271116,271116,271116,271116,39783
unique,134732,2,1184,230,51,2,42,66,765,3
top,Robert Tait McKenzie,M,United States,USA,2000 Summer,Summer,London,Athletics,Football Men's Football,Gold
freq,58,196594,17847,18853,13821,222552,22426,38624,5733,13372

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [14]:
# You code here 
data[(data.Year == 1996) & (data.Sex=='M')]['Age'].min()

14.0

In [15]:
data[(data.Year == 1996) & (data.Sex=='F')]['Age'].min()

12.0

14 and 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [76]:
data[(data.Year == 2000)].Sport.unique()

array(['Badminton', 'Sailing', 'Athletics', 'Wrestling', 'Rowing',
       'Swimming', 'Taekwondo', 'Diving', 'Football', 'Tennis', 'Cycling',
       'Hockey', 'Weightlifting', 'Basketball', 'Volleyball', 'Shooting',
       'Synchronized Swimming', 'Boxing', 'Gymnastics', 'Table Tennis',
       'Baseball', 'Handball', 'Fencing', 'Canoeing', 'Water Polo',
       'Beach Volleyball', 'Softball', 'Rhythmic Gymnastics', 'Archery',
       'Equestrianism', 'Modern Pentathlon', 'Judo', 'Triathlon',
       'Trampolining'], dtype=object)

In [193]:
# You code here 
main_ = data[(data.Year == 2000) & (data.Sex == 'M')]

dym_m = data[(data.Year == 2000) & (data.Sex == 'M') &(data.Sport =='Gymnastics')]

d_c=dym_m.drop_duplicates(subset='Name')['ID'].count()
m_c=main_.drop_duplicates(subset='Name')['ID'].count()

round((d_c/m_c)*100,1)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [130]:
# You code here 
main_ = data[(data.Year == 2000) & (data.Sex == 'F')\
             & (data.Sport == 'Basketball')]


#dup = main_.drop_duplicates(subset='Name')
main_['Height'].describe()[['std','mean']]

std       9.139462
mean    182.387324
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [195]:
data[(data.Year == 2002)].Weight.max()

data[(data.Year == 2002) & (data.Weight == 123.0)].Sport

99154    Bobsleigh
Name: Sport, dtype: object

In [93]:
# You code here 
m_w = data[(data.Year == 2002)]

m_w.loc[m_w['Weight'].argmax()]

ID                      50171
Name        Emmanuel Hostache
Sex                         M
Age                        26
Height                    190
Weight                    123
Team                   France
NOC                       FRA
Games             2002 Winter
Year                     2002
Season                 Winter
City           Salt Lake City
Sport               Bobsleigh
Event     Bobsleigh Men's Two
Medal                     NaN
Name: 99154, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [113]:
# You code here 
m_w = data[(data.Name == 'Pawe Abratkiewicz')]

In [114]:
m_w.drop_duplicates(subset='Year')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [138]:
# You code here 
data[(data.Year==2000) & (data.Sport == 'Tennis') ].Medal.unique()

data[(data.Year==2000) & (data.Sport == 'Tennis')\
     & (data.Medal=='Silver') &(data.Team=='Australia')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [207]:
# You code here 

ser = data[(data.Year==2016) & (data.Team == 'Serbia') ]
swi = data[(data.Year==2016) & (data.Team == 'Switzerland') ]

print(ser.dropna(subset=['Medal'])['ID'].count() >

swi.dropna(subset=['Medal'])['ID'].count())

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [185]:
def year_counts(dat, f_year, s_year):
    print(dat[(dat.Age >= f_year) & (dat.Age <= s_year) ]\
        .drop_duplicates(subset='Name')['ID'].count())
    
def year_count(dat, f_year, s_year):
    print(dat[(dat.Age >= f_year) & (dat.Age < s_year) ]\
    .drop_duplicates(subset='Name')['ID'].count())

In [200]:
# You code here 

olmp = data[(data.Year==2014)]


year_counts(olmp, 45, 55)
year_counts(olmp, 35, 45)

print('---------')
year_count(olmp, 25, 35)
year_count(olmp, 15, 25)
year_count(olmp, 35, 45)

5
151
---------
1397
1193
150

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [208]:
# You code here 

data[(data.City == 'Lake Placid') & (data.Season == 'Summer')]

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [210]:
data[(data.City == 'Sankt Moritz') & (data.Season == 'Winter')].count()

ID        1657
Name      1657
Sex       1657
Age       1563
Height     238
Weight     159
Team      1657
NOC       1657
Games     1657
Year      1657
Season    1657
City      1657
Sport     1657
Event     1657
Medal      224
dtype: int64

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [206]:
# You code here 

five = data[(data.Year==1995)]
six = data[(data.Year==2016)]


len(six.Sport.unique())-len(five.Sport.unique())

34